
$font_normal: 1rem;
$font_small: $font_normal * .7;
$font_extra_small: $font_normal * .5;
$font_large: $font_normal *  2;
$font_extra_large: $font_normal * 4;

$space_normal: 1rem;
$space_small: $space_normal * .7;
$space_extra_small: $space_normal * .5;
$fspace_large: $space_normal *  2;
$space_extra_large: $space_normal * 4;

