@import '../variables/colors';
@import '../variables/sizes';
.button{
    background-color: $color_accent;
    /* background-color: white; */
    /* border: grey 1px solid; */
    /* border: none; */
    padding: $space_extra_small $space_normal;
    border-radius: $space_extra_small;
    font-weight:900;
    cursor: pointer;
    text-align: center;
    color: white;
}
