@import '../variables/colors';
@import '../variables/sizes';

.container{
    background-color: $layout_accent_dark;
    padding: 10vh 10vw ;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
    color: white;

    p{
        font-size: $font_small;
        width: 70%;
    }
    h2{
        font-size: $font_large;
        margin-top: .5rem;
    }
    h5{
        margin-bottom: .5rem;
        font-size: $font_small;
    }
    h6{
        margin: $space_small 0 $space_small $space_normal;
        font-weight: normal;
    }
}

