@import '../variables/colors';
@import '../variables/sizes';

.container{
    border: none;
    /* background-color: grey; */
    margin: 1rem 0;
    width: 30vw;
    background-color: $layout_accent_dark;
    padding: $space_small $space_normal;
    border-radius: $space_extra_small;
    color: $color_mono_light;
    /* border: grey 1px solid; */
    backdrop-filter: saturate(180%) blur(100px);

    .label{
        font-size: $font_small;
    }
    .input{
        background-color: $layout_accent_dark;
        /* background-color: grey; */
     
        color: $color_mono_light;
        width: 95%;
        margin-left: $space_extra_small;
         backdrop-filter: saturate(50%) blur(100px);
         .input::-ms-reveal {
            filter: invert(100%);
          }
    
    }

}

