@import '../variables/colors';
@import '../variables/sizes';

.container{

    padding: 1vw 10vw;
    background: $layout_dark;
  
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,38,1) 0%, rgba(2,0,35,1) 7%, rgba(2,0,27,1) 24%, rgba(1,0,20,1) 43%, rgba(1,0,18,1) 65%, rgba(1,0,9,1) 82%, rgba(0,0,0,1) 100%);
   
    overflow-x: hidden;

    .child_container{
        min-width: 100vw;
        min-height: 100vh;
        color: white;
    }
}

