@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}
*:focus{
  outline: none;
}